<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.gling.android" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <!-- meta -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- welcome activity -->
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.gling.be"
                    android:pathPrefix="/welcome"
                    android:scheme="http" />
                <data android:scheme="gling"
                    android:host="welcome" />
            </intent-filter>
        </activity>


        <!-- login activity -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/activity_forgot_password"
            android:launchMode="singleInstance"></activity>

        <!-- registration activity -->
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:label="@string/activity_registration"
            android:launchMode="singleInstance"></activity>

        <!-- forgot password activity -->
        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:label="@string/activity_forgot_password"
            android:launchMode="singleInstance"></activity>

        <!-- main activity -->
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleInstance"></activity>

        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


    </application>

</manifest>
