<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.gling.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="be.gling.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="be.gling.android.permission.C2D_MESSAGE" />


    <application
        android:name="be.gling.android.view.GlingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- meta -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- welcome activity -->
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.gling.be"
                    android:pathPrefix="/"
                    android:scheme="https" />
                <!--<data android:scheme="gling"-->
                <!--android:host="welcome" />-->
            </intent-filter>
        </activity>


        <!-- login activity -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:label="@string/activity_forgot_password"
            android:launchMode="singleInstance"/>

        <!-- registration activity -->
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:label="@string/activity_registration"
            android:launchMode="singleInstance"/>

        <!-- forgot password activity -->
        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:label="@string/activity_forgot_password"
            android:launchMode="singleInstance"/>

        <!-- main activity -->
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- parse service and receiver -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="be.gling.android" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
